.pageHome {
	gap: 1rem;

	text-align: center;

	h2 {
		span {
			display: block;

			&:first-child {
				font-size: var(--fontSizeLG);
			}

			&:last-child {
				font-size: var(--fontSizeXL);
				font-family: var(--fontFamilySecondary);
			}
		}
	}

	small {
		font-size: var(--fontSizeSM);
	}
}
