body > footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem clamp(0.5rem, 4vw, 1.5rem);
	background-color: var(--color-base-3);

	position: absolute;
	bottom: 0;

	small {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		text-align: center;
	}
}
