body > header {
	padding: 1rem clamp(1rem, 5vw, 2rem);

	background-color: var(--colorBase2);

	& > div {
		justify-content: space-between;
	}

	h1 {
		font-size: var(--fontSizeXL);
		font-weight: var(--fontWeightBold);
		font-family: var(--fontFamilySecondary);
	}

	button,
	a {
		display: flex;
		align-items: center;
	}

	@media screen and (min-width: 500px) {
		& > div {
			justify-content: center;
		}

		button.themeSwitcher {
			position: absolute;
			right: 0;
		}
	}
}
