body > footer {
	margin-top: auto;
	padding: 0.25rem clamp(1rem, 5vw, 2rem);

	background-color: var(--colorBase3);

	small {
		gap: 0.25rem;

		font-size: var(--fontSizeSM);
		text-align: center;
	}
}
