.pageOverview {
	gap: 1rem;

	text-align: center;

	ul {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1rem;
	}

	.item {
		width: 100%;
		padding: 0.5rem 1rem;

		border-radius: 0.25rem;

		box-shadow: 0.25rem 0.25rem 0.5rem var(--colorShadow20);

		display: block;

		background-color: var(--colorBase4);

		&:hover,
		&:focus {
			background-color: var(--colorBase3);
			transform: scale(1.05);
		}

		&:active {
			background-color: var(--colorBase2);
			transform: scale(0.98);
		}

		:first-child {
			font-size: var(--fontSizeMD);
		}

		h3 {
			font-size: var(--fontSizeLG);
		}

		:last-child {
			font-size: var(--fontSizeSM);
		}
	}
}
